*{
    font-family: Source Sans Pro;
}

/* PAGE WRAPPER */

#page-wrapper > section {
    margin-bottom: 0;
}

/* HEADER */
header {
    margin: 0 auto;
    max-width: auto;
    position: relative;
}

/* NAV */
#nav {
    position: absolute;
    padding-left: 10%;    
    top: 2em;
    font-size: 1.2em;   
    
}

#nav ul {
    list-style: none;
    padding-left: 150px;    
}

    #nav ul li {
        float: left;
        line-height: 4.5em;
        padding: 5px;
        font-size: 0.8em;
        
    }
   
        #nav ul li img.sketch {
            display: block;
            margin-top: -15px;
            padding-left: 30%;            
            height: 45px;  
            
        }

        #nav ul li a.reg-text {
            display: relative;
            margin-left: -10%;
            
        }

        #nav ul li img.corretaje {
            display: block;
            margin-top: -15px;
            padding-left: 50px;
            padding-right: 50px;
            height: 45px;
            
        }

        #nav ul li a.cor-text {
            display: relative;
            padding-left: 25%;
        }

        #nav ul li img.constructora {
            display: block;
            margin-top: -35px;
            padding-left: 50%;
            padding-top: -2%;
            height: 45px;
        }
        
        #nav ul li a.const-text {
            display: relative;            
            padding-left: 26%;         
        }

        #nav ul li.contactanos {
            display: relative;
            margin-left: 150px;
            margin-top: -35px;
            font-size: 0.9em;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;            
        }

        #nav ul li.wsp-number {
            display: block;
            margin-left: -14%;
            margin-top: -2%;            
            font-size: 1.1em;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;             
        }

        #nav ul li img.WspContacto {
            display: block;
            margin-left: -20%;
            margin-top: -38%;

        }


       
        #nav ul li a,
        #nav ul li span {
            -moz-transition: background-color .25s ease-in-out;
            -webkit-transition: background-color .25s ease-in-out;
            -ms-transition: background-color .25s ease-in-out;
            transition: background-color .25s ease-in-out;
            font-weight: 600;
            letter-spacing: 0.050em;
            color: #000;
            text-decoration: none;
            border-radius: 6px;
            padding: 0.5em 1em 0.5em 1em;    
            font-family: Arial, Helvetica, sans-serif; 
        }

        

        #nav ul li ul {
            display: none;
        }

        #nav ul li:hover a,
        #nav ul li:hover span {
            background: #fff;
        }

        #nav ul li.active a,
        #nav ul li.active span {
            background: #fff;
        }

    


/* BANNER */
    #banner {
    background:  url("../img/banner.edifikka2.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    padding: 6em 0;
   
    }

        #banner header{        
            background-size: auto;
            display: inline-block;
            position: relative;
            width: 900px;
            padding: 0;
            border-radius: 5px;
            opacity: 90%;             
        }


        #banner div h1.title-banner{                
                border: powderblue 10px;
                padding-left: 2.5em;
                padding-right: 2.5em;
                margin-top: -80px;
                line-height: 100%;
                padding-bottom: 100px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                text-align: left;
            }

            #banner header h1 {
                color: #fff;
                font-weight: 700;
                font-size: 3em;
                margin: 0 0 0.65em 0;
                -webkit-text-stroke: 1px black;                
            }

            #banner header div input[type=text] {
                display: relative;
                position: fixed;
                font-size: 1.2em;
                width: 65%;
                height: 40px;
                margin-bottom: 15px;
                padding-left: 15px;
                padding-right: 45px;
                position: center;
                border-radius: 7px;
            }

            #banner header div.search-box input[type=text] {
                position: relative;                
                top: -50px;
                left: 1%;
                transform: translate3d(-50%, -50%); 
                outline: 0;
                z-index: 9;                   
            }
        

            #banner header div.search-txt{
                border: none;
                background: none;
                outline: none;
                float: left;
                padding: 0;
                color: white;
                font-size: 16px;
                transition: 0.4s;
                line-height: 40px;
                width: 240px;
                               
            }


            #banner header div.search-btn{
                position: absolute;
                color: #f5f6fa;
                float: right;
                left: 40px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;                
            }

            #banner header div i{               
                position: relative;                                
                left: -2%;
                margin-left: -19px;
                top: -45px;
                color: #797D7F;
                z-index: 10;
            }

            #banner header div i:hover{
                color: #13c941;
            }

            #banner header ul.field-search{
                position: absolute;    
                visibility: visible;
                transition: width 2s;              
                top: 232px;
                float: left;
                left: 28.7%;
                width: 605px;
                height: 190px;                
                transform: translateX(-20%);
                background: #ffffff;
                overflow: hidden;
                list-style-type: none;                
                z-index: 11;                
            }

            #banner header div#field-search-id{
                display: none;
            }
            

            #banner header li a{
                display:  inline-block;
                position: relative;
                width: 100%;
                color: #777777;
                padding: 12px 20px;
                margin-left: -480px;
                text-decoration: none;                                   
                margin-left: -23px;            
            }

            #banner header li a i{
                position: relative; 
                top: 1px;  
                cursor: pointer;           
            }

            
/* MAIN */


    


#main.container {            
        background-image: url("../img/main-background.jpg");    
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        background-size: cover;
        background-position: center;
        transition: .2s;
        text-align: center;
        overflow: hidden;
        
    }
        #main div.container-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            border-radius: 10px; 
        }

        #main div.container-card-item{            
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;            
            width: 450px;
            height: 200px;         
            margin: 1%;
            margin-top: 2em; 
            -webkit-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            border-radius: 15px;
            cursor: selector;
            overflow: hidden;
            position: relative;
            background: #ffffff;            
            box-shadow: 10px 10px 5px grey;           
        }

        #main div.container-card-item:hover{
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            -o-transform: translateY(-10px);
            transform: translateY(-10px);
        }

       

        #main div.container-card-item-wrapper {            
            display: relative;            
            flex-direction: column;
            margin: 1rem auto;
            box-shadow: 0 3px 7px -1px rgba(#000, .1);
            margin-bottom: 1.6%;
            background: white;
            line-height: 1.4;
            font-family: sans-serif;
            border-radius: 5px;
            overflow: hidden;
            z-index: 0;
                      
        }

        #main .img{            
            height: 200px;    
            width: 180px;     
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin-top: em;
            background-size: cover;
            background-position: center;
            transition: transform .2s;
        }

        #main div.container-info{            
            position: absolute;
            width: 100%;
            height: 10px;            
            -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);            
        }

            #main h3.titulo {                
                position: relative;
                align-items: center;
                text-align: left;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 20px;                                
                left: 20%;                
                margin: 10px;
                padding-left: 24%;
                padding-right: 20%;                
            }
            
            #main p.categoria {
                position: relative;
                font-size: 17px;
                z-index: 1;
                left: 20%;
                margin: 10px;
            }

            #main button.btn-cotiza {
                background-color: #1da502;
                color: #ffffff;
                font-size: 12px;                            
                padding: 5px;                
                border: 0;
                position: relative;
                cursor: pointer;
                margin-left: 50px;                                                                
            }

            #main button.btn-cotiza:hover {
                background-color: #145A32;
                color: #ffffff;
            }

            #main p.quote-text:before {
                left: 100px;
                top: 240px;
                content: '\201C';
                font-family: arial;
                color: #797D7F;
                font-size: 100px;
                position: absolute;                                                     
            }
            #main p.quote-text:after {
                right: 260px;
                content: '\201D';
                font-family: arial;
                color: #797D7F;
                font-size: 100px;
                position: absolute;

            }

            #main p.regular-text {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;                                
                position: absolute;
                padding-top: 70px;
                padding-left: 25px;
                font-weight: 600;
            }

            #main div.row{
                display: grid;                ;
                grid-template-columns: 400px 400px 400px;                
                justify-content: center;
                overflow: hidden;
                align-items: center;
                height: 430px;                                
                font-family: 'Baloo Paaji 2', cursive;
                padding: 90px;
                margin: 1em;                
            }
        

            #main section.container-card2{                                                                
                display: flex;
                flex-direction: column; 
                align-items: center;
                float: left;       
                left: 40px;     
                width: 340px;
                height: 460px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;                                                                       
                -webkit-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
                border-radius: 15px;                                
                position: relative;
                background: #ffffff;
                box-shadow: 10px 10px 5px grey;
       
            }

            #main section.container-card2:hover{
                display: flex;
                flex-direction: column;
                align-items: center;
                box-sizing: border;
                box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
                -webkit-transform: translateY(-10px);
                -ms-transform: translateY(-10px);
                -o-transform: translateY(-10px);
                transform: translateY(-10px);
    
            }

            #main section div.container-imgBack{
                position: relative;                      
                height: 130px;
                width: 130px;
                background-repeat: no-repeat;
                background-position: 50%;
                border-radius: 50%;
                background-size: 100% auto;
                background-color: #2ECC71;
            }

            #main section img.img-diagnostico{
                position: relative;            
                height: 70px;
                top: 20%;
                left: 7%;
            }

            #main section img.img-edificacion{
                position: relative;
                height: 70px;
                top: 20%;                
            }

            #main section img.img-solicitud{
                position: relative;
                height: 70px;
                top: 20%;
                left: 7%;
            }

            #main header h3.title-card1 {                
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 1.2em;
                margin-left: 35px;
                margin-right: 35px;
            }

            #main footer.list-text{                
                position: relative;
                text-align: left;
                margin: 0;                
                padding-left: 15px;
                padding-bottom: 10%;
            }

            #main div button.btn-information{
                display: block;
                position: relative;
                top: 25px;
                left: 200px;
                border-radius: 5px;
                background-color: #ffffff;                                
            }
            
            #main div button.btn-information:hover{
                background-color: #ff0000;
                color: #ffffff;
            }

            
            
            
            #main div.container-back{                
                background-position: center center;
                background-size: 100%;
                background-repeat: no-repeat;
                position: relative;
                top: 80%;                             
                width: 100%;
                -ms-transform: skewY(-10deg);            
                transform: skewY(-4deg);                
                background-size: cover;
                background-position: center;
                transition: .2s;
                text-align: center;
                overflow: hidden;
                z-index: 3;                
            }

            #main div.back-ground{
                background-image: url("../img/Fondo-escritorio-oficina2.jpg");
                background-size: 100%;
                background-position: center center;                
                background-repeat: no-repeat;                
                position: relative;  
                align-items: center;                                                     
                height: 250px;                
                padding-left: 50px;
                padding-right: 50px;
            }

            #main div.Items{
                display: flex;                
                flex-direction: row;
                position: absolute;
                align-items: center;                            
                float: left;
                height: 200px;                
                z-index: 2;
            }

            #main img.img-gestion{
                filter: invert(100%);
                display: absolute;
                transform: rotate(3deg);
                margin-top: -40px;                            
                margin-left: 10%; /* 90px*/                
                z-index: 3;
            }

            #main img.img-loteos{
                filter: invert(100%);
                display: absolute;
                transform: rotate(3deg);
                margin-top: -50px;                
                margin-left: 15%; /* 90px*/
                padding-top: 30px;
            }

            #main img.img-regular{
                filter: invert(100%);
                display: absolute;
                transform: rotate(3deg);
                margin-top: -30px;
                margin-left: 20%; /*150px*/               
                padding-top: 30px;
            }

            #main img.img-inscripciones{
                filter: invert(100%);
                display: absolute;
                transform: rotate(3deg);
                margin-top: -30px;
                margin-left: 18%; /*140px*/
                padding-top: 50px;
            }

            #main img.img-proNuevo{
                filter: invert(100%);
                display: absolute;
                transform: rotate(3deg);
                margin-top: -10px;
                margin-left: 20%; /*120px*/
                padding-top: 50px;
            }
            
            #main div h3.title-items-gest{
                display: absolute;
                font-family: -apple-system,
                BlinkMacSystemFont,
                'Segoe UI',
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                'Open Sans',
                'Helvetica Neue',
                sans-serif;        
                transform: skewY(4deg);
                padding-bottom: 20px;
                color: #ffffff;
                margin-top: 150px; 
                margin-left: -10%; /* -140*/
     
            }

            #main div h3.title-items-lote{
                display: absolute;
                font-family: -apple-system,
                BlinkMacSystemFont,
                'Segoe UI',
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                'Open Sans',
                'Helvetica Neue',
                sans-serif;
                transform: skewY(4deg);
                padding-bottom: 20px;
                color: #ffffff;
                margin-top: 180px;
                margin-left: -65px;
            }

            #main div h3.title-items-regu{
                display: absolute;
                font-family: -apple-system,
                BlinkMacSystemFont,
                'Segoe UI',
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                'Open Sans',
                'Helvetica Neue',
                sans-serif;
                transform: skewY(4deg);
                padding-bottom: 20px;
                color: #ffffff;
                margin-top: 200px;
                margin-left: -100px;
            }

            #main div h3.title-items-insc{
                display: absolute;
                font-family: -apple-system,
                BlinkMacSystemFont,
                'Segoe UI',
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                'Open Sans',
                'Helvetica Neue',
                sans-serif;                
                transform: skewY(4deg);
                padding-bottom: 20px;
                color: #ffffff;
                margin-top: 230px;
                margin-left: -11%; /*-140px*/
            }

            #main div h3.title-items-project{
                display: absolute;
                font-family: -apple-system,
                BlinkMacSystemFont,
                'Segoe UI',
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                'Open Sans',
                'Helvetica Neue',
                sans-serif;
                transform: skewY(4deg);            
                padding-bottom: 20px;
                color: #ffffff;
                margin-top: 260px;
                margin-left: -9%; 
            }


            #footer div h2.contact-title {
                display: block;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 2.3em;
                text-align: left;
                margin-top: 100px;
                padding-left: 100px;

            }
            

            #footer form input.it-nombre {
                position: relative;
                display: block;                  
                border-radius: 7px;
                text-align: left;
                height: 30px;
                width: 280px;
                font-size: 1em;
                border: 0;                             
                padding-left: 10px;
                margin-left: 100px;
                outline: none;
            }

            #footer form input.it-proyecto {
                position: absolute;
                display: block;                
                border-radius: 7px;
                text-align: left;
                height: 30px;
                width: 280px;
                margin-top: -32px;                
                margin-left: 465px;
                padding-left: 10px;
                font-size: 1em;
                border: 0;                
                outline: none;
            }

            #footer form input.it-rut {
                position: relative;
                display: block;                
                border-radius: 7px;
                text-align: left;
                height: 30px;
                width: 280px;
                font-size: 1em;
                border: 0;
                padding-left: 10px;
                margin-left: 100px;
                margin-top: 40px;
                outline: none;
            }

            #footer form input.it-mensaje {
                position: relative;
                display: flex;
                border-radius: 7px;                                                                       
                height: 240px;
                width: 280px;
                font-size: 1em;
                border: 0;
                padding-left: 10px;
                margin-left: 465px;
                margin-top: -30px;
                outline: none;
                text-align: justify;
                
            }

            #footer form button.btn-enviar{
                position: absolute;                
                margin-top: -20px;
                margin-left: 35px;
                border-radius: 5px;
                background-color: #ff0000;
                color: #ffffff;
                border: none;
            }

                #main div button.btn-enviar:hover {
                    background-color: #13c941;
                    color: #ffffff;
                }

            #footer form input.it-telefono{
                position: relative;
                display: block;
                border-radius: 7px;
                text-align: left;
                height: 30px;
                width: 280px;
                font-size: 1em;
                border: 0;
                padding-left: 10px;
                margin-left: 100px;
                margin-top: -175px;
                outline: none;
            }

            #footer form input.it-email{
                position: relative;
                display: block;
                border-radius: 7px;
                text-align: left;
                height: 30px;
                width: 280px;
                font-size: 1em;
                border: 0;
                padding-left: 10px;
                margin-left: 100px;
                margin-top: 40px;
                outline: none;
            }

            #footer form input.it-edad{
                position: relative;
                display: block;
                border-radius: 7px;
                text-align: left;
                height: 30px;
                width: 280px;
                font-size: 1em;
                border: 0;
                padding-left: 10px;
                margin-left: 100px;
                margin-top: 40px;
                outline: none;
            }

            /*Google Map CSS*/

            #footer div #googleMap{
                position: relative;
                display: inline-block;
                width:400px;
                height:400px;
            }
            
            #footer div #ez-map{
                position: absolute;
                display: inline-block;
                width: 300px;
                height: 330px;
                margin: auto;
                float: left;                
                margin-left: 15%;
                margin-top: -325px;
            }

            #ez-map .infoTitle {
                /*marker window title styles*/
            }

            #ez-map .infoWebsite {
                /*marker window website styles*/
            }

            #ez-map .infoEmail {
                /*marker window email address styles*/
            }

            #ez-map .infoTelephone {
                /*marker window telephone styles*/
            }

            #ez-map .infoDescription {
                /*marker window description styles*/
            }

            #footer div.container-back2 {
                position: absolute;
                background-position: center center;
                background-size: 100%;
                background-repeat: no-repeat;                           
                width: 100%;
                -ms-transform: skewY(-10deg);
                transform: skewY(-4deg);                                                           
                background-size: cover;                
                transition: .2s;
                text-align: center;                  
                   
                /*Section of shape parallelepiped*/
                
                background-color: #5B5B5B;
                background-size: 100%;
                background-position: center center;
                background-repeat: no-repeat;                
                height: 50px;
                top: 89%;
                left: -2%; 
                padding-left: 50px;
                padding-top: 300px;                
                
              
            }
            
            /*section of shape rectangle*/

            #footer div.back-ground2{
                position: relative;
                background-color: #5B5B5B;
                background-size: 100%;
                height: 200px;            
                margin-top: 200px;                
                padding-left: 50px;
                

            }

            #footer div img.edifikka-logo-footer{
                display: absolute;
                float: left;
                align-items: left;                
                padding-top: 1%;                                                          
                -webkit-filter: invert(1) hue-rotate(180deg) contrast(2);
	            filter: invert(1) hue-rotate(180deg) contrast(2);                
                z-index: 12;        
            }
            
            
            #footer div img.sketch-footer{
                display: absolute;                
                float: left;
                padding-left: 10%;
                padding-top: 2%;
                height: 35px;                
                filter: invert(100%); 

            }

            #footer div label a.reg-text-footer{
                display: relative;
                float: left;
                color: #ffffff;
                font-size: 1.2em;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 400;                                                                        
                margin-left: -7%;
                padding-top: 100px;
                text-decoration: none;     
                
                /* veritical line separator*/
               
            }

            #footer span.separator{
                position: absolute;
                border-right: white 2px dotted;
                height: 100px;
                margin-top: 20px;
                margin-left: -480px;
            }   
            
            #footer div img.corretaje-footer{
                display: absolute;
                float: left;
                padding-left: 15%;
                padding-top: 20px;
                height: 45px;                
                filter: invert(100%);
            }

            #footer div label a.cor-text-footer{
                display: relative;
                float: left;
                color: #ffffff;
                font-size: 1.2em;
                font-family: Arial,
                Helvetica,
                sans-serif;
                font-weight: 400;
                margin-left: -5%;
                padding-top: 100px;
                text-decoration: none; 
                               
                
            }

            #footer div label.contacto-txt-footer{
                display: block;
                margin-left: -80px;
                margin-top: -55px;
                color: #ffffff;
                font-size: 1.2em;
                font-family: Arial,
                Helvetica,
                sans-serif;
                font-weight: 300;
            }

           #footer div label.wsp-number-footer{
               display: block;
               margin-left: 480px;
               padding-right: 180px;
               margin-top: 6%;
               padding-top: 6%;
               font-size: 1.2em;
               color: #ffffff;
               font-family: Arial, Helvetica, sans-serif;
               font-weight: 600;
           }
           
           #footer div img.WspContacto-footer {
               display: relative;               
               margin-left: -30%;
               margin-top: 0px;
               filter: invert(100);
           }

           #footer span img.arrow-up{                              
               display: fixed;                           
               position: absolute;
               right:10px;
               bottom: 10px;
               width:50px;
               cursor: pointer;
           }
           

           #footer div a.ir-arriba {
               display: fixed;
               background-repeat: no-repeat;
               font-size: 20px;
               color: #000;                              
               bottom: 10px;
               right: 10px;
               z-index: 2;
           }

          
           
           /*
           #footer div span #botonArriba {
               position: fixed;
               bottom: 20px;
               right: -100px;
               width: 40px;
           }           
           */ 
           
   
        