*{
    font-family: Source Sans Pro;
}

/* PAGE WRAPPER */

#page-wrapper > section {
    margin-bottom: 0;
}

/* HEADER */
header {
    margin: 0 auto;
    max-width: auto;
    position: relative;
}

/* NAV */
#nav {
    position: absolute;
    padding-left: 10%;    
    top: 2em;
    font-size: 1.2em;   
    
}

#nav ul {
    list-style: none;
    padding-left: 150px;    
}

    #nav ul li {
        float: left;
        line-height: 4.5em;
        padding: 5px;
        font-size: 0.8em;
        
    }
   
        #nav ul li img.sketch {
            display: block;
            margin-top: -15px;
            padding-left: 30%;            
            height: 45px;  
            
        }

        #nav ul li a.reg-text {
            display: relative;
            margin-left: -10%;
            
        }

        #nav ul li img.corretaje {
            display: block;
            margin-top: -15px;
            padding-left: 50px;
            padding-right: 50px;
            height: 45px;
            
        }

        #nav ul li a.cor-text {
            display: relative;
            padding-left: 25%;
        }

        #nav ul li img.constructora {
            display: block;
            margin-top: -35px;
            padding-left: 50%;
            padding-top: -2%;
            height: 45px;
        }
        
        #nav ul li a.const-text {
            display: relative;            
            padding-left: 26%;         
        }

        #nav ul li.contactanos {
            display: relative;
            margin-left: 150px;
            margin-top: -35px;
            font-size: 0.9em;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;            
        }

        #nav ul li.wsp-number {
            display: block;
            margin-left: -14%;
            margin-top: -2%;            
            font-size: 1.1em;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;             
        }

        #nav ul li img.WspContacto {
            display: block;
            margin-left: -20%;
            margin-top: -38%;

        }


       
        #nav ul li a,
        #nav ul li span {
            -moz-transition: background-color .25s ease-in-out;
            -webkit-transition: background-color .25s ease-in-out;
            -ms-transition: background-color .25s ease-in-out;
            transition: background-color .25s ease-in-out;
            font-weight: 600;
            letter-spacing: 0.050em;
            color: #000;
            text-decoration: none;
            border-radius: 6px;
            padding: 0.5em 1em 0.5em 1em;    
            font-family: Arial, Helvetica, sans-serif; 
        }

        

        #nav ul li ul {
            display: none;
        }

        #nav ul li:hover a,
        #nav ul li:hover span {
            background: #fff;
        }

        #nav ul li.active a,
        #nav ul li.active span {
            background: #fff;
        }

    


/* BANNER */
    #banner {
    background:  url("../img/banner.edifikka.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    padding: 6em 0;
    }

        #banner header{
            background-color: rgba(34, 30, 31, 0.98);
            background-size: auto;
            display: inline-block;
            position: relative;
            width: 900px;
            padding: 0;
            border-radius: 5px;
            opacity: 90%;
        }


        #banner div h1.title-banner{                
                border: powderblue 10px;
                padding-left: 3em;
                padding-right: 3em;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }

            #banner header h1 {
                color: #fff;
                font-weight: 700;
                font-size: 3em;
                margin: 0 0 0.65em 0;
            }

            #banner header div input {
                display: absolute;
                font-size: 1em;
                width: 30%;
                height: 50px;
                margin-bottom: 15px;
                position: center;
            }

/* Aling-vertical --> Boton Buscar */

            #banner header div button {
                width: 6%;
                height: 56px;
                top: 82.3%;
                position: absolute;                
            }

            #banner header div button:hover{
                background-color: #000;
                color: white;
            }

            
/* MAIN */


    


#main.container {            
        background-image: url("../img/main-background.jpg");    
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        background-size: cover;
        background-position: center;
        transition: .2s;
        text-align: center;
        overflow: hidden;
        
    }
        #main div.container-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            border-radius: 10px; 
        }

        #main div.container-card-item{            
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;            
            width: 450px;
            height: 200px;         
            margin: 1%;
            margin-top: 2em; 
            -webkit-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            border-radius: 15px;
            cursor: selector;
            overflow: hidden;
            position: relative;
            background: #ffffff;            
            box-shadow: 10px 10px 5px grey;           
        }

        #main div.container-card-item:hover{
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            -o-transform: translateY(-10px);
            transform: translateY(-10px);
        }

       

        #main div.container-card-item-wrapper {            
            display: relative;            
            flex-direction: column;
            margin: 1rem auto;
            box-shadow: 0 3px 7px -1px rgba(#000, .1);
            margin-bottom: 1.6%;
            background: white;
            line-height: 1.4;
            font-family: sans-serif;
            border-radius: 5px;
            overflow: hidden;
            z-index: 0;
                      
        }

        #main .img{            
            height: 200px;    
            width: 180px;     
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin-top: em;
            background-size: cover;
            background-position: center;
            transition: transform .2s;
        }

        #main div.container-info{            
            position: absolute;
            width: 100%;
            height: 10px;            
            -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);            
        }

            #main h3.titulo {                
                position: relative;
                align-items: center;
                text-align: left;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 20px;                                
                left: 20%;                
                margin: 10px;
                padding-left: 24%;
                padding-right: 20%;                
            }
            
            #main p.categoria {
                position: relative;
                font-size: 17px;
                z-index: 1;
                left: 20%;
                margin: 10px;
            }

            #main button.btn-cotiza {
                background-color: #1da502;
                color: #ffffff;
                font-size: 12px;                            
                padding: 5px;                
                border: 0;
                position: relative;
                cursor: pointer;
                margin-left: 50px;                                                                
            }

            #main button.btn-cotiza:hover {
                background-color: #145A32;
                color: #ffffff;
            }

            #main p.quote-text:before {
                left: 100px;
                top: 240px;
                content: '\201C';
                font-family: arial;
                color: #797D7F;
                font-size: 100px;
                position: absolute;                                                     
            }
            #main p.quote-text:after {
                right: 190px;
                content: '\201D';
                font-family: arial;
                color: #797D7F;
                font-size: 100px;
                position: absolute;

            }

            #main p.regular-text {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;                                
                position: absolute;
                padding-top: 70px;
                padding-left: 25px;
                font-weight: 600;
            }

            #main div.row{
                display: grid;                ;
                grid-template-columns: 400px 400px 400px;                
                justify-content: center;
                overflow: hidden;
                align-items: center;
                height: 430px;                                
                font-family: 'Baloo Paaji 2', cursive;
                padding: 90px;
                margin: 1em;                
            }
        

            #main section.container-card2{                                                                
                display: flex;
                flex-direction: column; 
                align-items: center;
                float: left;            
                width: 340px;
                height: 460px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;                                                                       
                -webkit-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
                border-radius: 15px;                                
                position: relative;
                background: #ffffff;
                box-shadow: 10px 10px 5px grey;
                
                                
            }

            #main section.container-card2:hover{
                display: flex;
                flex-direction: column;
                align-items: center;
                box-sizing: border;
                box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
                -webkit-transform: translateY(-10px);
                -ms-transform: translateY(-10px);
                -o-transform: translateY(-10px);
                transform: translateY(-10px);
                
                
            }

            #main section div.container-imgBack{
                position: relative;                      
                height: 130px;
                width: 130px;
                background-repeat: no-repeat;
                background-position: 50%;
                border-radius: 50%;
                background-size: 100% auto;
                background-color: #2ECC71;
            }

            #main section img.img-diagnostico{
                position: relative;            
                height: 70px;
                top: 20%;
                left: 7%;
            }

            #main section img.img-edificacion{
                position: relative;
                height: 70px;
                top: 20%;                
            }

            #main section img.img-solicitud{
                position: relative;
                height: 70px;
                top: 20%;
                left: 7%;
            }

            #main header h3.title-card1 {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            #main footer.list-text{                
                position: relative;
                text-align: left;
                margin: 0;                
                padding-left: 15px;
                padding-bottom: 10%;
            }

            #main div button.btn-information{
                display: block;
                position: relative;
                top: 35px;
                left: 200px;
                border-radius: 5px;
                background-color: #ffffff;                                
            }
            
            #main div button.btn-information:hover{
                background-color: #ff0000;
                color: #ffffff;
            }

            
            #main div.back-ground{
                background-image: url();
            }

            #main img.img-house3{
                display: realative;
                margin-top: 50px;
                padding-top: 50px;
            }

    

            



